@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.ui {
    background-color: greenyellow;
    padding: var(--gap-xs)
}

:root {
    --gap-xs: 4px;
}